// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts 
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)  
// =book
// 	font-family: "book",arial,sans-serif 
	
=f
	font-family: "Roboto", Arial, sans-serif
=fs
	font-family: "Roboto Slab", Arial, sans-serif
	font-weight: 300 

$yl: #fed564

body
	+f
	font-size: 12px 
	line-height: 1.4
	color: #222 
	overflow: hidden
	
button, input
	background: none
	+f
	color: #222  


// common blocks
.wrap__in
	display: table
	width: 1000px
	margin: 0 auto
	//table-layout: fixed

.pager
	position: fixed
	top: 50%
	right: 25px
	width: 21px
	margin-top: -75px
	button
		margin: 5px 0
		background: #fff
		padding: 7px
		border-radius: 50%
		background: none 
		&.is-active
			background: $yl
			i
				background: #FFF 
	i
		display: block
		width: 5px
		height: 5px
		background: #000
		border-radius: 50% 



.page
	display: table-row
.page__in
	position: relative
	display: table-cell
	width: 1000px
	vertical-align: middle
	+box
#page-second
	.page__in
		padding-top: 136px


.logo
	position: relative
	top: -100px
	display: inline-block
	margin-left: 140px
	+s(logo)


.enter
	float: right
	width: 320px
.enter__title
	+fs
	font-size: 55px
.enter__title-sub
	margin-bottom: 45px
	font-size: 24px
.enter__label
	font-size: 16px
.field
	margin-bottom: 8px
	input
		width: 100%
		border-bottom: #C2C2C2 1px solid  
		+box
		+fs
		font-size: 24px
		+placeholder-color(#C2C2C2)
.enter__btn
	padding-top: 15px
	+clr	
	button
		height: 35px
.enter__go
	float: left
	width: 225px
	background: $yl 
	text-transform: uppercase
	font-weight: 700 
	font-size: 14px
.enter__cancel
	float: right
	text-decoration: underline


.info
	+clr
.info__sl
	position: relative
	float: right
	width: 727px
	height: 423px
	margin-right: -100px
	background: url(../img/laptop.png) no-repeat 0 0
	+tr(all .2s linear)
	&.is-move
		right: 70px
		margin: 0
.info__sl-in
	position: relative
	width: 555px
	height: 347px
	margin: 24px 0 0 87px 
	>li
		visibility: hidden
		&.is-active
			visibility: visible
			.info__sl-step
				&.is-active
					.info__sl-ttip
						+transform(rotateX(0deg))
.info__sl-step
	position: absolute
	top: 0
	left: 0
	visibility: hidden
	-webkite-perspective: 800px
	&.is-active
		visibility: visible
		.info__sl-current
			top: -20px
			visibility: visible
			opacity: 1 
	img
		display: block
.info__title	
	position: absolute
	top: 20px
	left: 0
	right: 0
	margin-bottom: 40px
	+fs
	font-size: 32px
	text-align: center
	line-height: 1.2
	span, i
		display: inline-block
		vertical-align: middle
	i
		margin-left: 20px
		+s(arrow-down)
.info__more
	float: left
.info__more
	float: left
	width: 260px 
.info__icons
	margin-bottom: 25px
	font-size: 0
.info__ico
	display: inline-block
	margin-left: 30px
	vertical-align: middle
	&:first-child
		margin: 0
.info__ico_beer
	+s(info-ico-beer-a)
	&.is-active
		+s(info-ico-beer)
.info__ico_penguin
	+s(info-ico-penguin-a)
	&.is-active
		+s(info-ico-penguin)
.info__ico_popkorn
	+s(info-ico-popkorn-a)
	&.is-active
		+s(info-ico-popkorn)
.info__text-item
	display: none
	&.is-active
		display: block
.info__text-title
	margin-bottom: 20px
	+fs
	font-size: 36px
	line-height: 1
.info__text-in
	font-size: 18px
	line-height: 1.2
.info__sl-ttip
	position: absolute
	left: -160px
	font-size: 0
	+transform-style(preserve-3d)
	+transform(rotateX(90deg))
	+transition(transform .3s)
	z-index: 10 
	i, >span
		display: inline-block
		vertical-align: middle
	i
		+arr(13,26,#fed564,r)
	>span
		width: 160px
		padding: 3px 10px 4px
		background: #FED564 
		font-size: 14px
	&.is-right
		left: auto
		right: -155px
		i
			border-style: solid
			border-width: 13px 13px 13px 0
			border-color: transparent #fed564 transparent transparent
		.info__sl-current
			left: auto
			right: 0
.info__sl-current
	position: absolute
	top: -10px
	left: 0
	visibility: hidden
	opacity: 0 
	font-size: 12px
	color: #a6a6a6
	+tr(all .2s linear)  


.can-help
	position: absolute
	top: 20px
	left: 0
	right: 0
	text-align: center
	overflow: hidden
	a
		position: relative
		display: inline-block
		+fs
		font-size: 32px
		text-decoration: none
		color: #000 
		&:before, &:after
			content: ""
			position: absolute
			top: 23px
			width: 2000px
			height: 1px
			background: $yl 
		&:before
			left: 103%
		&:after
			right: 103%
			

.story
	width: 460px
	margin: 0 auto 140px
	+fs
	font-size: 32px
	line-height: 1.2


.sign-up
	+fs
	font-size: 55px
	text-align: center
	a
		display: inline-block
		padding: 0 20px 5px 
		background: $yl 
		text-decoration: none
		line-height: 1.2
		color: #222 


.footer
	position: absolute
	bottom: 20px
	left: 0
	right: 0
	color: #777
	a
		color: #777 
.copyright
	float: left
.footer__support
	float: right






